<h1>Specify book details.</h1>
<hr />
<br />

<form action="/book/add" method="post">

    <label for="title">Title : </label>
    <input class="form-control" type="text" name="title" id="title" />

    <label for="author">Author : </label>
    <input class="form-control" type="text" name="author" id="author" />

    <label for="price">Price : </label>
    <input class="form-control" type="number" name="price" id="price" />

    <label for="quantity">Quantity : </label>
    <input class="form-control" type="number" name="quantity" id="quantity" />
    
    <button type="submit">Submit</button>
</form>



<p><a href="/">Click here to go back.</a></p>